* {
  margin: 0;
  padding: 0;
}

section {
  padding: 80px 8%;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #2e2622;
  align-items: center;
  padding: 18px 8%;
}
ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
a {
  text-decoration: none;
  color: #fbf6ef;
}
.coffee-color {
  color: #e9b44c;
}

header {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./image/bg-image.avif");
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  justify-content: center;
  align-items: center;
}

.header-content {
  color: white;
  text-align: center;
  display: grid;
  gap: 20px;
}
.header-content button {
  width: 20%;
  margin-left: 40%;
  padding: 10px 0;
  background-color: #e9b44c;
  border-radius: 18px;
}

.our-story {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.our-story div img {
  width: 100%;
  border-radius: 12px;
}

.our-story .right-side {
  display: grid;
  align-items: center;
}

.right-side div h2 {
  padding-bottom: 12px;
}
.right-side div p {
  padding-bottom: 12px;
}
.right-side div button {
  padding: 8px 12px;
  border-radius: 18px;
  background-color: #e9b44c;
  border: none;
}

.popular-bg {
  background-color: #f1e7d8;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin-top: 70px;
}

.card-container .card {
  background-color: #ffffff;
  text-align: center;
  padding: 25px;
  border-radius: 12px;
}
.Menu {
  text-align: center;
}
.card img {
  padding-bottom: 12px;
}
.card h1 {
  padding-bottom: 12px;
}
.card p {
  padding-bottom: 12px;
}
.top {
  text-align: center;
}

table {
  width: 50%;
  border-collapse: collapse;
  margin: 0 auto;
  margin-top: 60px;
}

td,
th {
  border: 2px solid #2e2622;
  padding: 8px 5px;
}
thead {
  background-color: #2e2622;
}
th {
  color: #e9b44c;
}

.image-container {
  position: relative;
}
.image-container img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 18px;
}

.first {
  width: 300px;
  position: absolute;
  bottom: 30px;
  left: 12px;
  background-color: white;
  border-radius: 12px;
  padding: 14px;
  border-radius: 18px;
}

.last {
  width: 90px;
  border: 2px solid #e9b44c;
  background-color: white;
  position: absolute;
  top: 12px;
  right: 12px;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.footer {
  background: #332822;
  color: #d8d8d8;
  padding: 50px 8%;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  flex-wrap: wrap;
}

.footer-box {
  flex: 1;
  min-width: 220px;
}

.footer-box h3 {
  color: #f0a82e;
  margin-bottom: 20px;
  font-size: 24px;
}

.footer-box p {
  color: #cfcfcf;
  line-height: 1.8;
  font-size: 15px;
}

.footer-box ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-box ul li {
  display: block;
  margin-bottom: 15px;
}

.footer-box ul li a {
  display: block;
  text-decoration: none;
  color: #d8d8d8;
  font-size: 17px;
}

.footer-box ul li a:hover {
  color: #f0a82e;
}

.footer hr {
  margin: 35px 0 20px;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-bottom p {
  font-size: 14px;
  color: #bdbdbd;
}

.social-icons {
  display: flex;
  gap: 12px;
}

.social-icons a {
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.08);
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.3s;
  font-size: 15px;
  font-weight: bold;
}

.social-icons a:hover {
  background: #f0a82e;
  color: #222;
  transform: translateY(-3px);
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    gap: 40px;
  }

  .footer-bottom {
    flex-direction: column;
    text-align: center;
  }
}
